<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @division.name %>
</p>

<h3>Teams</h3>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @division.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team_path(team) %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
      </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Players</th>
  </tr>
  <% @division.players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
        </tr>
  <% end %>
</table>

<br><br>


<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
